Header{
    background-color: greenyellow;
}

body {
     background-color:beige;
}
#content {
    margin: auto;
}

footer{
    background-color: greenyellow;
}
.Headgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}