@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display:ital@1&display=swap");

header{
    background-color: greenyellow;
    border: 1px solid black;
    border-radius: 1em;
    overflow:hidden;
}

body {
    background-color:beige;
    margin: auto;
    max-width: 960px;
    font-size: 100%;
}
.content {
    max-width: 500px;
    margin: auto;
  }

footer{
    background-color: greenyellow;
    text-align: center;
    padding: 15px;
    border: 1px solid black;
    border-radius: 1em;
    overflow: hidden;
}

h1, h2{
    text-align: center;
    margin: auto;
    font-family: "Acme", serif;
    font-size: 32px;
    font-family: Oswald, sans-serif;
}
h3{
    background-color: greenyellow;
    overflow:hidden; 
    margin: 1px;
    padding: 10px;
    font-family: Oswald, sans-serif;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}
section{
    border: 1px solid black;
    border-radius: 1em;
    overflow:hidden; 
    background-color: darkgrey;
}
 img{
    display: block;
    margin: auto;
    
}

.basic{
    grid-template-columns: 1fr;
}
.Imdb{
    grid-template-columns: 2fr;
}
.Hbomax{
    grid-template-columns: 3fr;
}
p{
    font-family: Playfair Display, sans-serif;
}