header{
    background-color: greenyellow;
    border: 1px solid black;
    border-radius: 1em;
    overflow:hidden;
}

body {
    background-color:beige;
    margin: auto;
    max-width: 960px;
    font-size: 100%;
    font-family: Verdana, sans-serif;
}
.content {
    max-width: 500px;
    margin: auto;
  }

footer{
    background-color: greenyellow;
    text-align: center;
    padding: 15px;
    border: 1px solid black;
    border-radius: 1em;
    overflow: hidden;
}

h1, h2{
    text-align: center;
    margin: auto;
    font-family: "Acme", serif;
    font-size: 32px;
}
